.graygreen {
    background-color: rgb(180, 190, 178);
}

.elfenbenwhite {
    background-color: rgb(245, 242, 235);
}

.hazeltext {
    color: rgb(88, 111, 73);
}

.ntext {
    color: rgb(40, 51, 38);
}

.IT_c {
    background-color: rgb(157, 210, 177);
}

.French_c {
    background-color: rgb(253, 180, 251);
}

.math_c {
    background-color: rgb(189, 234, 197);
}

.kjemi_c {
    background-color: rgb(162, 199, 31);
}

.fysikk_c {
    background-color: rgb(18, 175, 157);
}

.history_c {
    background-color: rgb(245, 210, 36);
}

.norsk_c {
    background-color: rgb(242, 49, 49);
}

.aktivitet_c {
    background-color: rgb(86, 177, 190);
}

.gym_c {
    background-color: rgb(161, 232, 242);
}

.spisng_c {
    background-color: rgb(255, 204, 153);
}

.fri_c {
    background-color: rgb(204, 255, 204);
}

.tid_c {
    background-color: rgb(220, 230, 240);
}