footer{
    height: 35vh;
    background-color: rgb(245, 242, 235);
    z-index: 10;
}
footer .strava img{
    width: 100px;
    border-radius: 20px;
    margin-left: 20px;
}

.footer{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    height: 30vh;
    font-size: 22px;
}
.strava{
    border-right: gray solid 1px;
    padding: 50px;
    display: flex;
}
.strava p{
    display: flex;
    align-items: center;
}